body{
    width: 100%;
}
#viz {
    display: block;
    width: 85%;
    margin: auto;
    max-width: 1400px;
}
#globeContainer {
    display : block;
}
#body 
{
    background-color: white;
}
#legend {
    display: flex;
}
#legend input {
    width: 40%;
}
    
#year {
    margin: auto;
  width: 20%;
  
  padding: 10px;
}

#legend svg  {
    margin: auto;
    width: 40%;
    
    padding: 10px;
}
.countryName {
    text-align: center;
}
#diagram2 {
    display: flex;
}
#reset {
    display: flex;
    
}
#reset button{
    margin:auto;
    width: 10%;
    background-color: #005EBF; /* Green */
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    
}
#map {
    position: relative;
}
#map svg{
    display: flex;
    margin: auto;
    
}
#lineGraph svg{
    display: flex;
    margin: auto;
    position: relative;
}

#lineGraph {
    position: relative;
}

.radarChart svg, #treemap svg {
    display: flex;
    margin: auto;
}

#treemap {
    min-height: 400px;
}

.radarChart {
    min-height: 500px;
}

.tooltip2 {
    position: absolute;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.treeContent {
    word-wrap: break-word;
    max-width: 100px;
}